/* Aquí van tus estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.body {
    background-color: rgb(235, 183, 144);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
    background-image: url("https://img2.wallspic.com/crops/4/1/0/8/4/148014/148014-bruma-desierto-montana-highland-niebla-3648x5472.jpg");
}

.image-header {
    width: 400px;
}


.title {
    font-family: 'Cinzel', serif;
    font-weight: 900;
    font-size: 40px;
    width: 400px;
    height: 20px;
    margin-bottom: 50px;
}


.header {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    background-color: rgb(194, 105, 53);
    box-shadow: 5px 3px 9px black;
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-family: 'Cinzel', serif;
    

    &-filterone{
        margin: 10px;
        font-family: 'Cinzel', serif;
        
    }

    &-filtertwo{
        margin: 10px;
        font-family: 'Cinzel', serif;
        
    }

    &-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
}

.filter-character{
    margin-left: 20px;
    padding: 3px;
    width: 150px;
    background-color:  rgb(245, 217, 195);
    box-shadow: 5px 3px 9px black;
}

.filter-house{
    margin-left: 20px;
    width: 150px;
    background-color:  rgb(245, 217, 195);
   
}

.list {
    display:flex;
    flex-wrap: wrap;
   align-content: center;
   justify-content: center;
    
}

.li-element {
    display: inline-block;
    justify-self:center;
    align-items: center;
    padding: 20px;
    margin: 5px;
    background-color: rgb(201, 201, 201);
    box-shadow: 5px 3px 9px black;
    border-radius: 2%;
    
    
}

.img {
    width: 150px;
    height: 225px;
    margin: 10px;
    box-shadow: 6px 5px 10px rgb(0, 0, 0);
}

.characters {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-character{
    color: rgb(0, 0, 0);
    font-family: 'Cinzel', serif;
    font-weight: 400;
    text-shadow: black 0.2em 0.2em 0.4em;
}

.especie {
    color: rgb(194, 105, 53);
    font-family: 'Farsan', cursive;
}

.gender {
    font-family: 'Farsan', cursive;
    color: rgb(142, 84, 61);
}

.not-found{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:200px;
    background-color: dimgray;
    padding:30px;
    box-shadow: 6px 5px 10px rgb(0, 0, 0);
    font-family: 'Cinzel', serif;
    font-size: 24px;
}