.card-container{
    display: flex;
    background-color: rgb(201, 201, 201);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    border-radius: 2%;
    margin: auto;
}

.card-title{
   color: rgb(194, 105, 53);
    padding: 20px;
    font-family: 'Cinzel', serif;
    text-shadow: rgb(255, 255, 255) 0.2em 0.2em 0.4em;
    position: relative;
    top:20px;
}

.detail-container{
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.detail-image{
    width: 200px;
    border-radius: 10%;
    margin-bottom: 30px;
    margin-right: 30px;
    box-shadow: 5px 3px 9px black;
    position: relative;
    bottom:50px;
    right:50px;
}

.detail-especie{
    
    padding: 5px;
    font-family: 'Farsan', cursive;
    color: rgb(194, 105, 53);
}

.detail-gender {
    
    padding: 5px;
    color: rgb(142, 84, 61);
    font-family: 'Farsan', cursive;
}

.detail-alive{
    padding-top:20px
}

.house-photo{
    width: 100px;
    display: flex;
    position: relative;
    left:120px;
    top:50px;
}

.button-return{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.triangle{
    width: 40px;
}

.return-button{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: black 0.2em 0.2em 0.4em;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    width: 70px;
    box-shadow: 6px 5px 10px rgb(0, 0, 0);
}

.arrow{
    padding-top:5px;
    
}

.return{
    color:black;
    font-family: 'Farsan', cursive;
    font-size: 20px;
    
}